<!-- header text -->
<div class="header_text">
	<div class="container_12">
		<div class="grid_9">
		  <!-- PayMoney ! L’Afrique a son HUB Monétique… -->
			<div class="divider_page"><h3><%=t :home_intro_title %></h3></div>
			<p>
			  <%=t :home_intro_text_p1 %>
			</p>
			<p>
			  <%=t :home_intro_text_p2 %>
			</p>
			<p>
			  <%=t :home_intro_text_p3 %>
			</p>
			<p>
			  <%=t :home_intro_text_p4 %>
			</p>
			<!-- PayMoney ! L’Afrique a son HUB Monétique… -->
		  
		  <!-- Comment se connecter à PayMoney? -->
		  <div class="divider_page"><h2><%=t :home_intro_text_comment_se_connecter %></h2></div>
			<p>
		    Vous êtes un e-commerce, vous avez compris que vous connecter à PayMoney c’est :
		  </p>
		  <!-- Avantages de paymoney -->
		  <ul class="star">
			  <li>
			    <b>Eviter d’entamer des négociations à n’en point finir pour bénéficier de nouveaux moyens de paiement sur votre site,</b>
			  </li>
			  <li>
			    <b>Eviter de créer sur votre site plusieurs intégrations inutiles pour les nouveaux moyens de paiement,</b></li>
			  <li>
			    <b>Elargir dans un temps record votre réseau de vente,</b>
			  </li>
			  <li>
			   <b>Permettre à vos clients de payer sur votre site avec le moyen de paiement de leur choix,</b>
			  </li>
			  <li>
			    <b>Créer de nouvelles opportunités de vente vers l’extérieur.</b>
			  </li>
		  </ul>		
		  <!-- Fin Avantages de paymoney -->	
			<p>
			  Et vous souhaitez connecter votre e-commerce au HUB, contactez-nous directement sur ce site en nous laissant le lien de votre e-commerce et vos coordonnées.
			</p>
			<!-- Comment se connecter à PayMoney? -->
			
			<!-- Les Avantages de PayMoney ! -->
			<div class="divider_page"><h2><%=t :home_intro_text_avantages_de_paymoney %></h2></div>
			  <!-- Menu accordeon -->
			  <div class="accordion">
			    <!-- Avantages pour le commercant -->
  		    <h5>Pour le commerçant</h5>
  		    <div>
		        <ul class="star">
			        <li>
			          <b>Offrez à vos clients une nouvelle façon de payer.</b>
			        </li>
			        <li>
			          <b>Economiser de l'argent sur SWIFT et les frais de transfert de fil.</b></li>
			        <li>
			          <b>Bénéficier de plusieurs moyens de paiements locaux et internationaux sur votre site</b>
			        </li>
			        <li>
			         <b>Vendez vos produits 24/7</b>
			        </li>
			        <li>
			          <b>Augmentez votre clientèle et votre réseau de vente</b>
			        </li>
		        </ul>			
  		    </div>
  		    <!-- Fin Avantages pour le commercant -->
  		    <!-- Avantages pour le client -->
  		    <h5>Pour le client</h5>
  		    <div>
		        <ul class="star">
			        <li>
			          <b>Payer en ligne avec votre même moyen de paiement</b>
			        </li>
			        <li>
			          <b>Faites tous vos achats sans aucune restriction liée à votre moyen de paiement</b>
			        </li>
			        <li>
			          <b>Effectuez un paiement international moins cher que d'utiliser le système bancaire pour les virements électroniques.</b>
			        </li>
			        <li>
			         <b>Effectuez votre paiement partout en Afrique en déposant tout simplement un équivalent de la monnaie locale en USD, EURO, XAF, et bien d'autres et cela depuis votre propre pays.</b>
			        </li>
			        <li>
			          <b>Aucun frais de transferts internationaux</b>
			        </li>
		        </ul>			
  		    </div>
  		    <!-- Fin Avantages pour le client -->
			  </div>
			  <!-- Fin Menu accordeon -->
			<!-- Fin Les Avantages de PayMoney ! -->
		</div>
		
		<div class="grid_3 align_right">
					
		</div>
	</div>
</div>
<!-- header text end -->
