<!DOCTYPE html>
<html lang="fr">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<meta name="author" content="" />
<meta name="description" content="" />
<title><%= @title %></title>
<%#= stylesheet_link_tag "style", media: "all", "data-turbolinks-track" => true %>
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

<!--<link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/text.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/shortcodes.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/prettyPhoto.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/cameraSlider.css" />
<link rel="stylesheet" type="text/css" href="/assets/images/nivoThemes/dark/dark.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/nivo-slider.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/flexslider.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/liteaccordion.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/blue.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />-->
<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="assets/css/ie8.css" />
<![endif]-->
<%= csrf_meta_tags %>
</head>
<body>
<!-- container full -->
<div class="container_full">
	<!-- header -->
	<div id="header_wrapper" class="clearfix withSlider">
	<!-- menu -->
	<div id="header">
		<!-- logo -->
		<div id="logo"><a href="index-2.html"><img src="/assets/images/logo.png" alt="logo" /></a></div>
		<!-- logo end -->
		<!-- main menu -->
		<ul id="mainmenu">
	    <li><%= link_to "Accueil", home_path, :class => @home_active %></li>
	    <li><%= link_to "Nos moyens de paiement", nos_moyens_de_paiement_path, :class => @moyens_de_paiement_active %></li>		    
	    <li><%= link_to "Banques partenaires", banques_partenaires_path, :class => @banques_partenaires_active %></li>
	    <li><%= link_to "Nous contacter", contact_us_path, :class => @nous_contacter_active %></li>    
		</ul>
		<!-- main menu end -->
	</div>
	<!-- menu end -->
	<!-- slider -->
	<div class="camera_wrap" id="cameraSlider">
      <div data-thumb="/assets/images/mix/80/writingidea.jpg" data-src="/assets/images/mix/940/writingidea.jpg">
      	<div class="camera_desc pink heading fadeIn camera_effected" style="bottom:190px;left:80px;">
      	  Innovation
      	</div>
      	<div class="camera_desc black fadeIn camera_effected" style="bottom:140px;left:80px;">
      	  Pour vous simplifier la vie!
      	</div>
      </div>
    	<div data-thumb="/assets/images/mix/80/vogue.jpg" data-src="/assets/images/mix/940/vogue.jpg">
    		<div class="camera_desc green heading fadeIn camera_effected" style="bottom:190px;right:80px;">
    		  Faites nous confiance
    		</div>
      	<div class="camera_desc black fadeIn camera_effected" style="bottom:140px;right:80px;">
      	  Nous sécurisons votre monde!
      	</div>
    	</div>    	
    </div>
	<!-- slider end -->
	</div>
	<!-- header end -->
	<div class="clearfix"></div>
	
  <% if params[:controller] == "welcome" and params[:action] == "index" %>
    <%= render "intro" %>
  <% end %>
  
  <% if params[:controller] == "welcome" and params[:action] == "intro_text" %>
    <%= render "complete_intro" %>
  <% end %>
  
  <% if params[:controller] == "welcome" and params[:action] == "functionalities_payment_gateway" %>
    <%= render "functionalities_payment_gateway" %>
  <% end %>
  
  <% if params[:controller] == "welcome" and params[:action] == "functionalities_compenses_automatisees" %>
    <%= render "functionalities_compenses_automatisees" %>
  <% end %>
  
  <% if params[:controller] == "welcome" and params[:action] == "functionalities_moyens_de_paiement" %>
    <%= render "functionalities_moyens_de_paiement" %>
  <% end %>
  
  <% if params[:controller] == "welcome" and params[:action] == "functionalities_disponibilite" %>
    <%= render "functionalities_disponibilite" %>
  <% end %>
  
  <% if params[:controller] == "welcome" and params[:action] == "nos_moyens_de_paiement" %>
    <%= render "nos_moyens_de_paiement" %>
  <% end %>
  
  <% if params[:controller] == "welcome" and params[:action] == "banques_partenaires" %>
    <%= render "banques_partenaires" %>
  <% end %>
    
	<!-- container 12 -->
	<div class="container_12">
	
	  <%= yield %>
	
		<!-- our clients -->
		<div class="grid_12">
			<div class="divider_page">
				<h2><%=t :home_nos_clients_titre %></h2>
				<div class="heading_button">
					<div class="prev_button" id="ourclients_prev">Prev</div>
					<div class="next_button" id="ourclients_next">Next</div>
				</div>
			</div>
			<div class="our_clients">
				<a href="http://www.ekioskmobile.net/" target="_blank" class="a_client ekiosk"></a>
				<a href="https://www.wimboo.net/" target="_blank" class="a_client wimboo"></a>
			</div>
		</div>
		<!-- our clients end -->
	</div>
	<!-- container 12 end -->
	<!-- footer -->
	<div id="footer">
		<div class="back_top tooltip_s" title="Retourner en haut"></div>
		<!-- footer container -->
		<div class="container_12 footer_content">
			<div class="grid_3">
				<h3><span class="first-word"><%=t :home_footer_titre1_1 %></span> <%=t :home_footer_titre1_2 %></h3>
				<p><%=t :home_footer_titre1_contenu %></p>				
			</div>
			<div class="grid_3">
				<h3><span class="first-word"><%=t :home_footer_titre2_1 %> </span><%=t :home_footer_titre2_2 %></h3>
				<p><%= (t :home_footer_titre2_contenu).html_safe %></p>
			</div>
			<div class="grid_3">
				<h3><span class="first-word"><%=t :home_footer_titre3_1 %></span> <%=t :home_footer_titre3_2 %></h3>
				<%= (t :home_footer_titre3_contenu).html_safe %>
			</div>
			
			<div class="grid_3">
				<h3><span class="first-word"><%=t :home_footer_titre4_1 %></span> <%=t :home_footer_titre4_2 %></h3>
				<div class="float_left socialicons">
					<a href="https://www.facebook.com/PayMoney.net" target="_blank" class="social_colored facebook" title="Facebook"></a><b>Facebook</b>
					<p></p>
					<a href="https://twitter.com/AfricaPayMoney" target="_blank" class="social_colored twitter" title="Twitter"></a><b>Twitter</b>
					<p></p>
					<a href="http://www.linkedin.com/company/paymoney" target="_blank" class="social_colored linkedin" title="Linkedin"></a><b>LinkedIn</b>
					<p></p>
					<a href="https://plus.google.com/107940201879767423047/posts" target="_blank" class="social_colored google" title="Google+"></a><b>Google+</b>
				</div>
			</div>
		</div>
		<!-- footer container end -->
		<div class="clearfix"></div>
		<!-- footer bottom -->
		<div class="footer_bottom">
			<div class="container_12">
				<div class="grid_6">
					<div class="footer_text">Copyright  2014 &copy;</div>
				</div>
			</div>
		</div>
		<!-- footer bottom end -->
	</div>
	<!-- footer end -->
</div>
<!-- container full end -->
<%= javascript_include_tag "jquery-1.9.0.min", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.components", "data-turbolinks-track" => true %>
<%= javascript_include_tag "custom", "data-turbolinks-track" => true %>
</body>
</html>
